doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/components/jquery/jquery.js")
    script(src="/components/underscore/underscore.js")
    script(src="/components/bootstrap/dist/js/bootstrap.js")
    script(src="/components/backbone/backbone.js")
    script(src="/javascripts/bluebird.js")

 body
   block content
   script(type="text/template" data-name="container")
     include templates/container.html

   script(type="text/template" data-name="addTodo")
     include templates/addTodo.html

   script(type="text/template" data-name="todo")
     include templates/todo.html
   script(src="javascripts/application.js")
