doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js")
    script(src="/javascripts/bluebird.js")

 body
   block content
   script(type="text/template" data-name="container")
     include templates/container.html

   script(type="text/template" data-name="addTodo")
     include templates/addTodo.html

   script(type="text/template" data-name="todo")
     include templates/todo.html
   script(src="javascripts/application.js")
