body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
h1
  text-align: center

.container
  padding: 0px
  border-radius: 5px
  width: 50%
  min-width: 300px
  min-height: 400px
  border: 1px solid #ddd


.todo-form,.todoItem
  padding: 10px
  border: solid #ddd
  border-width: 0px 0px 1px 0px
  width: 100%

.todoItem
  position:relative

.cross
  position:absolute
  right: 1em
  color: red
  cursor: pointer
  
.todo-input
  width: 80%
  border-radius: 2px


.button
  position: absolute
  margin-left: 15px
  border-radius:6px
  background-color: #ddd

.strike-through
  text-decoration: line-through

